@model DVDRental.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberDateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberDateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipCategory.MemberCategoryNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MemberNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
