@model IEnumerable<DVDRental.Models.DVDTitle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio.StudioName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer.ProducerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.StudioNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.StudioName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.actors)
            </th>
        </tr>
}
    </tbody>
</table>
